body{
    background-color: rgba(100,200,255, 0.8)
}

#profile_image{
    border: 20px dotted black;
}

.layout{
    
}


.layout{
    color: #6600cc;
    font-family: cursive;
}

table tr:first-child{
    background-color: rgb(230, 242, 255);
    width: 90%;
}


/*
body{
    background-color: #051946;
    background-color: #cc00cc;
}

p1{
    font-family: cursive;
    color: #00ffcc;
}

p{
    color: #e6e6ff;
    font-family: monotype;
}

h1{
    color: #cce6ff;
}

h2{
    color: #b3b3ff;
}

button{
    color: #33ccff;
    background-color: #051946;
}

.tech{
    font-family: monotype;
    color: #00ffcc;
}
*/